<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a href="{{ .Site.BaseURL | relLangURL }}" class="navbar-brand">
            <img src="{{ .Site.Params.logo | absURL }}" alt="site-logo">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav ms-auto">
                {{ range .Site.Menus.main }}
                <li class="nav-item"><a class="nav-link" href="{{ $.Site.BaseURL }}{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}

                {{ if .Site.IsMultiLingual }}
                <li class="nav-item dropdown">
                    {{ range .Site.Languages }}
                    {{ if eq . $.Site.Language }}
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-globe" aria-hidden="true"></i>
                        <span class="d-none d-lg-inline">{{ .LanguageName }}</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <div class="dropdown-item active">
                            <span>{{ .LanguageName }}</span>
                        </div>
                        {{ end }}
                        {{ end }}
            
                        {{ range $.Translations }}
                        <a class="dropdown-item" href="{{ .Permalink }}" data-bs-target="{{ .RelPermalink }}" aria-labelledby="navbarDropdown">
                            <span>{{ .Language.LanguageName }}</span>
                        </a>
                        {{ end }}
                    </ul>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</nav>