<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="{{ .Site.BaseURL | relLangURL }}" class="navbar-brand">
        <img src="{{ .Site.Params.logo | absURL }}" alt="site-logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNavbar">
        <ul class="navbar-nav ml-auto">
            {{ range .Site.Menus.main }}
            <li class="nav-item"><a class="nav-link" href="{{ $.Site.BaseURL }}{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
        </ul>
    </div>

    {{ if .Site.IsMultiLingual }}
    <ul class="navbar-nav flex-row ml-auto d-flex pl-md-2">
        <li class="nav-item dropdown">
            {{ range .Site.Languages }}
            {{ if eq . $.Site.Language }}
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">
                <i class="fas fa-globe mr-1" aria-hidden="true"></i>
                <span class="d-none d-lg-inline">{{ .LanguageName }}</span>
            </a>
            <div class="dropdown-menu">
                <div class="dropdown-item active">
                    <span>{{ .LanguageName }}</span>
                </div>
            
            {{ end }}
            {{ end }}

            {{ range $.Translations }}
            <a class="dropdown-item" href="{{ .Permalink }}" data-target="{{ .RelPermalink }}">
                <span>{{ .Language.LanguageName }}</span>
            </a>
            {{ end }}
            </div>
        </li>
    </ul>
    {{ end }}
</nav>